*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

form{
  display:flex;
  flex-direction: column;
  position:relative;
  
}

.namesurname{
  display:flex;
  flex-direction: row;
  gap:8px;
  margin-top:77px;
  margin-left:126px;
}
.name, .surname{
  width:419px;
  height:122px;
  border:1px solid black;
  display:flex;
  flex-direction: column;
  gap:8px;
  padding-left:24px;
  position:relative;
}
label{
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  display: flex;
  align-items: center;
    color: #000000;
}
span{
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
  display: flex;
  align-items: center;
  color: #2E2E2E;
  }


.close{
  position:absolute;
  top:12px;
  right:12px;
}

.nameinput, .surnameinput{
  width:371px;
  height:48px;
  border-radius:4px;
  border:1px solid #BCBCBC;
  padding-left:16px;
  outline: none;
  color:#1A1A1A;
}
::placeholder{
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  display: flex;
  align-items: center;
  color: rgba(0, 0, 0, 0.6);
  

}

.uploadlabel {
  width: 107px;
  height: 27px;
  margin-left:19px;
  display:flex;
  justify-content: center;
  background: #0E80BF;
  border-radius: 4px;
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
 }

 input, textarea{
  outline: none;
 }

.upload{

  display: none;
}
.textarea{
  width:798px;
  height:103px;
  resize:none;
  outline: none;
  padding-left:16px;
  padding-top:13px;
}
.email, .phone{
  width:798px;
  height:48px;
  background-color:  #FFFFFF;
  padding-left:16px;
  border:1px solid #BCBCBC;
  outline: none;
}

 .valid{
  border:1px solid #98E37E;
 }

 .emailinvalid{
  position:absolute;
  left:805px;
  top:35px;

 }
 .emailvalid{
  position:absolute;
  top:35px;
  left:770px;
 }



             /* Experience */
 .position, .employer{
  width:798px;
  height:48px;
  padding-left:16px;
 }     
 
 .date{
  width:371px;
  height:48px;
  border-radius:4px;
  padding-left:16px;
  padding-right:16px;
 }
 .description-text{
  width:798px;
  height:123px;
  resize:none;
  padding-left:16px;
  padding-top:13px;
 }

 .add{
  width:289px;
  height:48px;
  background-color:#62A1EB;
  border-radius:4px;
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  border:none;
  margin-top:45px;
  margin-left:151px;
 }
 
 .BtnBox{
  display:flex;
  flex-direction: row;
  width:75%;
  height:48px;
  margin-left:150px;
  margin-top:100px;
  justify-content: space-between;
 }
 .BtnBox1{
  display:flex;
  flex-direction: row;
  width:75%;
  height:48px;
  margin-left:150px;
  margin-top:150px;
  justify-content: space-between;


 }
 .inputmask{
  width:798px;
  height:48px;
 }

 .Btnback {
  width:113px;
  height:48px;
  background-color: #6B40E3;
  border:none;
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.08em;
  color: #FFFFFF;
  border-radius:4px;
 }

 .Btn{
  width:151px;
  height:48px;
  background-color: #6B40E3;
  border:none;
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.08em;
  color: #FFFFFF;
  border-radius:4px;

 }

            /* EDucation */
.school{
  width:798px;
  height:48px;
  padding-left:16px;
  border-radius:4px;
}

.degree{
  width:371px;
  height:48px;
  outline:none;
  border-radius:4px;
  font-size:16px;
}
option{
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  display: flex;
  align-items: center;
 
  color: #1A1A1A;
}
#hidden-opt{
  display:none;
}



          /* Result */
.result{
  width:822px;
  height:1080px;
  border:5px solid red;

}
h1{
  font-family: 'Helvetica Neue';
font-style: normal;
font-weight: 700;
font-size: 34px;
line-height: 42px;
color: #F93B1D;
}

h3{
  
font-family: 'Helvetica Neue';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 22px;
color: #F93B1D;
}


.submitbutton{
  background-color:#6B40E3;
  width:151px;
  height:48px;
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.08em;
  color: #FFFFFF;
  position:absolute;
  left:797px;
  top:867px;
  border-radius:4px;
  border:none;
}